<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deptLog">
   <insert id="insert" parameterType="deptLog">
 		insert into dept_log values(seq_dept_log.nextval,#{uri},#{ip},sysdate)
 	</insert>
</mapper>